@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="@ViewBag.ManageLinkActive"><a class="menu" href="@Url.Action("Index", "Manage")"><span>ACCOUNT</span></a></li>

        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="menu"><span>LOG OFF</span></a></li>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        @*<li>
                @Html.ActionLink("Create or edit chat rooms","Index", "ChatRooms")
            </li>*@
        @*<li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="menu" })
        </li>*@


    }
}
else
{
    <li class="@ViewBag.LoginLinkActive"><a class="menu" href="@Url.Action("Login","Account")"><span>LOGIN / REGISTER</span></a></li>

}
