@model SecretSafe.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}



<div class="panel panel-warning">
    <div class="panel-heading">
        <div class="panel-title">
              <span class="glyphicon glyphicon-alert pull-right" 
                    style="font-size: 25px; margin-right: 15px" 
                     data-toggle="tooltip" data-placement="right"
                     title="You can change your account settings from here and you can manage you external logins connections."></span>
       
            <h3>@ViewBag.Title.</h3>
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="panel-title">
                    Change your account settings
                </div>
            </div>
            <div class="panel-body">
                <hr />
                <dl class="dl-horizontal">
                    <dt>Password:</dt>
                    <dd>
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword",  null, new { @class = "btn btn-warning" })
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword",  null, new { @class = "btn btn-warning" })
                        }
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>DIsplay name:</dt>
                    <dd>
                        @Html.ActionLink("Change display name", "ChangeNick", "Manage", null, new { @class = "btn btn-warning" })
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>External Logins:</dt>
                    <dd>

                        <a class="btn btn-warning" href="@Url.Action("ManageLogins")" title="Manage Logins">
                            Manage
                            <span class="badge"> @Model.Logins.Count</span>
                        </a>
                    </dd>

                </dl>
                <hr />
            </div>
        </div>
    </div>
</div>

