@model SecretSafe.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";

    ViewBag.ManageLinkActive = "active";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
}
<div class="container templatemo_wrapper">
    <!-- home start -->

    <div class="row">
        <div class="col-sm-6">
            <div class="templatemo_title"><span>SECRET</span>SAVED</div>
            <div class="templatemo_subtitle">No one will ever know!</div>
        </div>
        <div class="col-sm-6 templatemo_home">
            <div class="templatemo_headertitle">SECRET ACCOUNT</div>
            <div class="clear"></div>
            <div class="templatemmo_subheader">CREATE PASSWORD FOR SECURE LOG IN</div>
            <div class="clear"></div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <div class="templatemo_separater">
                        <span class="page"> </span>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="templatemo_hometext">
                <hr />
                <p class="text-info">
                    You do not have a local username/password for this site. Add a local
                    account so you can log in without an external login.
                </p>

                @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <h4>Create Local Login</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Set password" class="templatemo_homebuton" />
                        </div>
                    </div>
                }
                <hr />
            </div>



        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="templatemo_separater">
                    <span class="page"> </span>
                </div>
            </div>
        </div>
    </div>
</div>


}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}