@{
    ViewBag.Title = "Chat Page";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
}




@if (false)
{
    <script src="~/Scripts/jquery-2.2.4.intellisense.js"></script>
}


<div id="myContainer" class="container templatemo_wrapper">


    <div class="row">
        <div class="col-sm-6">
            <div class="templatemo_title"><span>SECRET</span>SAVED</div>
            <div class="templatemo_subtitle">No one will ever know!</div>
        </div>
        <div class="col-sm-6 templatemo_home">
            <div class="templatemo_headertitle">SECRET ROOM</div>
            <div class="clear"></div>
            <div class="templatemmo_subheader">THIS ROOM IS WITH @ViewBag.SecurityLevelName.ToUpper()</div>
            <div class="clear"></div>

        </div>


             <!-- DIRECT CHAT PRIMARY -->
    <div class="row">
        <div class="col-md-7 pull-right" style="margin-top: 30px">
      <div class="box box-@ViewBag.CssClass direct-chat direct-chat-@ViewBag.CssClass">
        <div class="box-header with-border">
          <h3 class="box-title">Direct Chat</h3>

          <div class="box-tools pull-right">
            <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="3 New Messages">3</span>

                <button id="clean-history" class="btn btn-box-tool btn-danger btnclean-history">
                                    <span class="glyphicon glyphicon-erase"></span>
                                    Clean history for all users
                                </button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <!-- Conversations are loaded here -->
          <div  id="chat-list" class="direct-chat-messages" data-bind="foreach: messages">
            <!-- Message. Default to the left -->
            <div class="direct-chat-msg">
              <div class="direct-chat-info clearfix">
                <span class="direct-chat-name pull-left"  data-bind="text: username"></span>
                <span class="direct-chat-timestamp pull-right" data-bind="text: timestamp.toLocaleTimeString()" ></span>
              </div>
              <!-- /.direct-chat-info -->
              <img class="direct-chat-img" src="http://bootdey.com/img/Content/user_1.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
              <div class="direct-chat-text"  data-bind="html: content">
              </div>
              <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->

            <!-- Message to the right -->
             <!-- <div class="direct-chat-msg right">
              <div class="direct-chat-info clearfix">
                <span class="direct-chat-name pull-right">Sarah Bullock</span>
                <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
              </div>
              <img class="direct-chat-img" src="http://bootdey.com/img/Content/user_2.jpg" alt="Message User Image">
              <div class="direct-chat-text">
                You better believe it!
              </div>
            </div>-->
            <!-- /.direct-chat-msg -->
          </div>
          <!--/.direct-chat-messages-->

          <!-- Contacts are loaded here -->
          <div class="direct-chat-contacts">
            <ul class="contacts-list">
              <li>
                <a href="#">
                  <img class="contacts-list-img" src="http://bootdey.com/img/Content/user_1.jpg">

                  <div class="contacts-list-info">
                        <span class="contacts-list-name">
                          Count Dracula
                          <small class="contacts-list-date pull-right">2/28/2015</small>
                        </span>
                    <span class="contacts-list-msg">How have you been? I was...</span>
                  </div>
                  <!-- /.contacts-list-info -->
                </a>
              </li>
              <!-- End Contact Item -->
            </ul>
            <!-- /.contatcts-list -->
          </div>
          <!-- /.direct-chat-pane -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <div class="input-group">
              <input id="compose-box" type="text" name="message" placeholder="Type Message ..." class="form-control">
                  <span class="input-group-btn">
                    <button id="send-btn" type="submit" class="btn btn-@ViewBag.CssClass btn-flat">Send</button>
                  </span>
            </div>

        </div>
        <!-- /.box-footer-->
      </div>
        </div>
        </div>
      <!--/.direct-chat -->
    </div>

</div>

<div class="container templatemo_wrapper">
    <!-- This  is the contact box -->
    <div class="col-md-3">
        <div id="users-list" class="span2">
            <h4>Users</h4>
            <ul data-bind="foreach: contacts"  class="contacts-list">

              <li>
                <a href="#">
                  <img class="contacts-list-img" src="http://bootdey.com/img/Content/user_1.jpg">

                  <div class="contacts-list-info">
                        <span class="contacts-list-name"  data-bind="text: username">

                          <small class="contacts-list-date pull-right">0/00/0000</small>
                        </span>
                    <span class="contacts-list-msg">How have you been? I was...</span>
                  </div>
                  <!-- /.contacts-list-info -->
                </a>
              </li>
              <!-- End Contact Item -->
            </ul>
        </div>

    </div>
    <div class="col-md-9">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">

                    <span class="glyphicon glyphicon-user"></span>
                    Username:
                    <span class="pull-right">@Html.Raw(Json.Encode(Model.username))</span>
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">

                    <span class="glyphicon glyphicon-home"></span>
                    Room Name:
                    <span class="pull-right">@Html.Raw(Json.Encode(Model.roomname))</span>
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-5 pull-right">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">

                    <button class="btn btn-@ViewBag.CssClass" style="width: 100%" id="share-button">SHARE ROOM</button>
                </h4>
            </div>
        </div>
    </div>
        </div>
</div>


<div class="container templatemo_wrapper">


</div>
<!--
This script reference is important because navigating to /signalr/hubs will automatically generate the script.
This should be done via an HttpModule automatically generated by SignalR on the server side
https://github.com/SignalR/SignalR/wiki/SignalR-JS-Client-Hubs
If you navigate to signalr/hubs in your browser, you'll see a script that is dynamically generated based on the hubs declared
on the server. Each hub on the server will become a property on the client side $.connection, e.g. $.connection.myHub.
 -->
<script type="text/javascript" src="@Url.Content("/signalr/hubs")"></script>
<script src="~/Scripts/SecretSafe.js"></script>
<script src="~/Scripts/favico.min.js"></script>
<script src="~/Scripts/jquery.browser.min.js"></script>
<script src='https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script>
<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.12/dist/clipboard.min.js"></script>
<script type="text/javascript">
    // Checking compatibility issues with animated favicon, currently is available only in webkit
    if ($.browser.webkit) {
        var favicon = new Favico({
            animation: 'fade'
        });
        var valFavicon = -1;
        favicon.badge(valFavicon);
    }
    // IE doesn't parse IS8601 formatted dates, so I had to find this function to parse it
    // (URL http://dansnetwork.com/javascript-iso8601rfc3339-date-parser/ )
    Date.prototype.setISO8601 = function (dString) {

        var regexp = /(\d\d\d\d)(-)?(\d\d)(-)?(\d\d)(T)?(\d\d)(:)?(\d\d)(:)?(\d\d)(\.\d+)?(Z|([+-])(\d\d)(:)?(\d\d))/;

        if (dString.toString().match(new RegExp(regexp))) {
            var d = dString.match(new RegExp(regexp));
            var offset = 0;

            this.setUTCDate(1);
            this.setUTCFullYear(parseInt(d[1], 10));
            this.setUTCMonth(parseInt(d[3], 10) - 1);
            this.setUTCDate(parseInt(d[5], 10));
            this.setUTCHours(parseInt(d[7], 10));
            this.setUTCMinutes(parseInt(d[9], 10));
            this.setUTCSeconds(parseInt(d[11], 10));
            if (d[12])
                this.setUTCMilliseconds(parseFloat(d[12]) * 1000);
            else
                this.setUTCMilliseconds(0);
            if (d[13] != 'Z') {
                offset = (d[15] * 60) + parseInt(d[17], 10);
                offset *= ((d[14] == '-') ? -1 : 1);
                this.setTime(this.getTime() - offset * 60 * 1000);
            }
        }
        else {
            this.setTime(Date.parse(dString));
        }
        return this;
    };

    $(document).ready(function () {
        var chat = new secretSafe.chatViewModel();
        var users = new secretSafe.connectedUsersViewModel();
        var currentUser = new secretSafe.user(@Html.Raw(Json.Encode(Model.username)),"",@Html.Raw(Json.Encode(Model.roomname)), ""); // The username chose by the user is stored in the model

        // Proxy creation
        var chatHub = $.connection.chatHub; // chatHub is the name of the Hub as declared in server side code
        chatHub.state.username = currentUser.username; // This is the round-trip state
        chatHub.state.roomname = currentUser.roomname;
        // Client-side event handlers, as declared inside the  Hub
        chatHub.client.onMessageReceived = function (message) {
            // Play some sound
            $.playSound("http://static1.grsites.com/archive/sounds/cartoon/cartoon015");
            //Change favicon badge if youser is not on focus
            if ($.browser.webkit) {
                var isFocus = $(window).is(":focus");
                if (isFocus) {
                    favicon.badge(0);

                } else {
                    favicon.badge(valFavicon);
                    valFavicon += 1;
                }
            }
            var date = new Date();
            date.setISO8601(message.Timestamp);
            chat.messages.push(new secretSafe.chatMessage(message.Username, message.Content, date, message.Color));//new Date(message.Timestamp)));
            $("#chat-list").scrollTo('max');
        }

        chatHub.client.cleanHistoryConfirmed = function () {
            // TODO: put some animation here if someday you have a time
            if ($.browser.webkit) {
                valFavicon = 0;
                favicon.badge(0);
                $("#chat-list").empty();
            }
        };


        chatHub.client.leaves = function (userId, username, timestamp) {
            var disconnectedUser = new secretSafe.user(username, userId);
            users.customRemove(disconnectedUser);
        }

        chatHub.client.joins = function (userId, username, roomname, color, timestamp) {
            console.log(color);
            var connectedUser = new secretSafe.user(username, userId , roomname, color);
            users.contacts.push(connectedUser);
        }

        function sendMessageContent() {
            if ($.browser.webkit) {
                valFavicon = 0;
                favicon.badge(0);
            }
            var content = $("#compose-box").val();
            if (content != "" && content != null) {
                var date = new Date();
                var msg = new secretSafe.chatMessage(currentUser.username, content, date, currentUser.color);
                chatHub.server.send(msg).done(function () {
                    $("#compose-box").val("");
                }).fail(function (e) {
                    alert("Could not connect to server");
                });
            }
        }

        function cleanHistory() {
            chatHub.server.cleanHistory().done(function () {
                alert("History is deleted for all connected users! Thank you for keeping this secret!");
            }).fail(function (e) {
                alert("Could not connect to server");
            });
        };
        $("#clean-history").click(function () {
            cleanHistory();
        });


        $("#send-btn").click(function () {
            sendMessageContent();
        });

        // Handles Enter keystroke press event
        $('#compose-box').keypress(function (e) {
            if (e.which == 13 && $("#compose-box").val().trim().length > 0) {
                sendMessageContent();
            }
        });

        ko.applyBindings(users, $("#users-list")[0]);
        ko.applyBindings(chat, $("#chat-list")[0]);

        // Step 1: Start the connection
        // Step 2: Get all currenlty connected users
        // Step 3: Join to the chat and nmotify all the clients (me included) that there is a new user connected
        $.connection.hub.start()
                    .done(function () {
                        chatHub.server.getConnectedUsers()
                                    .done(function (connectedUsers) {
                                        ko.utils.arrayForEach(connectedUsers, function (item) {

                                            users.contacts.push(new secretSafe.user(item.Username, item.Id, item.RoomName, item.Color));
                                        });
                                    }).done(function () {
                                        chatHub.server.joined();
                                    });
                    });
    });


    $("#share-button").click(function () {
        var url      = window.location.href;
        console.log(url);
          copyToClipboard(url)
    });

    function copyToClipboard(text) {
    window.prompt("Copy URL to clipboard: Ctrl+C, Enter", text);
}

</script>