@model IEnumerable<SecretSafe.Models.ChooseRoomsViewModel>
@{
    ViewBag.Title = "Rooms";
        Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
    ViewBag.RoomsLinkActive = "active";
}





<div class="container templatemo_wrapper">
    <!-- home start -->
    <div class="row">
        <div class="col-sm-6">
            <div class="templatemo_title"><span>SECRET</span>SAVED</div>
            <div class="templatemo_subtitle">No one will ever know!</div>
        </div>
        <div class="col-sm-6 templatemo_home">
            <div class="templatemo_headertitle">SECRET ROOMS</div>
            <div class="clear"></div>
            <div class="templatemmo_subheader">CREATE AND SHARE ROOMS TO INVITE OTHERS TO TELL YOUR SECRET</div>
            <div class="clear"></div>
            <div class="templatemo_homebuton"><a href="@Url.Action("Prices","Home")">CHANGE YOUR SECURITY LEVEL</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="templatemo_separater">
                <span class="page"> </span>
            </div>
        </div>
    </div>
    <!-- home end -->
</div>

<div class="container templatemo_wrapper">
    <div id="templatemo_packages" class="row">
        <div class="col-md-12">
            <div class="templatemo_pricing_title">YOUR SECURE ROOMS </div>
            <div class="templatemo_pricing_subtitle"><br />CHOOSE A SECURITY LEVEL AND CREATE NEW ROOM OR CLICK ON ROOM AND JOIN</div>
        </div>
        <div class="col-md-12">


<h2></h2>
@foreach (var securityLevel in (List<SecretSafe.Models.SecurityLevel>)ViewBag.SecurityLevels)
{
    var securityLevelTitle = securityLevel.Name;
    var securityLevelClass = GetClassSecurityLevel(securityLevelTitle);
    <div class="panel panel-@securityLevelClass panel-box">
        <div class="panel-heading">
            <h3 class="panel-title">@securityLevelTitle</h3>
        </div>
        <div class="panel-body" id="@securityLevelTitle.Replace(" ", "")-box">
            @foreach (var room in Model.Where(m => m.SecurityLevel == securityLevelTitle))
            {
                @Html.Partial("RoomsPartials/RoomPanelPartial", new SecretSafe.Models.RoomPanelPartialViewModel
           {
               SecurityLevelClass = securityLevelClass,
               RoomId = room.Id,
               ChatRoomName = room.ChatRoomName,
               CreatedOn = room.CreatedOn
           })
            }
            <div class="col-md-3 ">
                <div class="panel panel-@securityLevelClass">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create new secure room</h3>
                    </div>
                    <div class="panel-body" id="@securityLevelTitle.Replace(" ", "")">
                        @*<button class="btn btn-lg btn-@securityLevelClass" style="width: 100%" data-toggle="modal" data-target="#modalAddRoom">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>*@

                        @Ajax.ActionLink(" ", "CreateRoomAjax", "Home", new { SecurityLevel = securityLevelTitle },
                           new AjaxOptions
                           {
                               OnBegin = "RoomIsCreated",
                               InsertionMode = InsertionMode.Replace,
                               UpdateTargetId = @securityLevelTitle.Replace(" ", "")
                           },
                           new { @class = "glyphicon glyphicon-plus btn btn-lg btn-" + securityLevelClass, style = "width: 100%" })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-@securityLevelClass btnJoinRoom">
                Join room
            </button>
        </div>
    </div>
}


@functions{
    public string GetClassSecurityLevel(string securityLevelTitle)
    {
        switch (securityLevelTitle)
        {
            case "Normal Security": return "info";
            case "Medium Security": return "success";
            case "Pro Security": return "warning";
            case "Maximum Security": return "danger";
            default: return "";
        }
    }
}
@section scripts{

<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.12/dist/clipboard.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".btnJoinRoom").attr("disabled", "disabled");
        });

        function RoomIsCreated(response, event) {
            console.log($(this).parent().parent().parent());
            $(this).parent().parent().parent().removeClass();
            $(this).parent().parent().parent().addClass("col-md-4");
        };
        function NotEnoughPermissions(response, status) {
            var panel = $(this).parent().parents('.panel-body');
            console.log(panel);
            var obj = jQuery.parseJSON(response.responseText);
            if (obj.status == false) {
                $(panel).html("<div class='alert alert-" + obj.cssClass + "'>You don't have enough permissions for " + obj.title + ". Please update your packages from <a class='btn btn-" + obj.cssClass + "' href='" + "@Url.Action("Index","Update")" + "?SecurityLevel=" + obj.securityLevel + "'>Here </a></div>")
            }
        };
        function DeleteRoom(response) {

            var room = $(".panel").find("[data-guid='" + response.id + "']").parent();
            console.log(room);
            $(room).hide(300);
        };

        function ClientClick(elem) {
            console.log(elem);
            $(".btnJoinRoom").attr("disabled", "disabled");
            $(".rooms").removeClass("actives-pannel");
            $(elem).addClass('actives-pannel');

            var parentPanel = $(elem).parent().parent().parent();
            var btnJoinRoom = $(parentPanel).find(".btn");
            var roomId = $(elem).attr("data-guid");
            $(btnJoinRoom).removeAttr('disabled');

        };

        $(".btnJoinRoom").on("mousedown",function () {
            if ($(this).is(":disabled")) {
                alert("Choose room first!")
            } else {

                window.open("../" + GenerateLinkForRoom(), GenerateLinkForRoom(), '');
                return false;
            }
        });


         function CopyLink() {
            var url = document.location.origin + "/" + GenerateLinkForRoom();
            console.log(url);
            copyToClipboard(url)
        };

        function copyToClipboard(text) {
            window.prompt("Copy URL to clipboard: Ctrl+C, Enter", text);
        }

        function GenerateLinkForRoom() {
                var roomId = $(".actives-pannel").attr("data-guid");
                var security = $(".actives-pannel").parents(".panel-box").find(".panel-title").first().text();
                console.log(security);
                var link =  security.replace(" ", "") + "/" + roomId;
                return link;
        }
    </script>
}
        </div>

    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="templatemo_separater">
                <span class="page"> </span>
            </div>
        </div>
    </div>
</div>
