@model SecretSafe.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";

    ViewBag.LoginLinkActive = "active";
}

<div class="container templatemo_wrapper">
    <!-- home start -->
    <div class="row">
        <div class="col-sm-6">
            <div class="templatemo_title"><span>SECRET</span>SAVED</div>
            <div class="templatemo_subtitle">No one will ever know!</div>
        </div>
        <div class="col-sm-6 templatemo_home">
            <div class="templatemo_headertitle">@ViewBag.Title</div>
            <div class="clear"></div>
            <div class="templatemmo_subheader">Associate your @ViewBag.LoginProvider account.</div>
             <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <div class="templatemo_separater">
                        <span class="page"> </span>
                    </div>
                </div>
            </div>

            <div class="templatemo_hometext">

                @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <h4>Association Form</h4>
                    <hr />
<p>No personal information will be collected! We will simply have data with ID numbers and there will be no way to know who provided which sets of data. Although your email will be collected on second step, it will only be used for faster login in the system only by you.</p>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <p class="text-info">
                        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                        Please enter a email for this site below and click the Register button to finish
                        logging in.
                    </p>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="templatemo_homebuton" value="Register" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="templatemo_separater">
                    <span class="page"> </span>
                </div>
            </div>
        </div>
        <!-- home end -->
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
