@using SecretSafe.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">
            <span class="glyphicon glyphicon-alert pull-right" style="font-size: 25px; margin-right: 15px" data-toggle="tooltip" data-placement="right" title="You have to be logged in the system to use full functionalities"></span>

            <h3>@ViewBag.Title.</h3>
        </div>
    </div>
    <div class="panel-body ">



        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Use a local account to log in.</h4>

                </div>
                <div class="panel-body">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                            @Html.AntiForgeryToken()

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>

                            </div>
                            <hr />
                            <div class="form-group">

                                <div class="col-md-offset-2 col-md-10">

                                    <input type="submit" value="Log in" class="btn btn-info" />
                                </div>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">

                    <h4>Use another service to log in.</h4>
                </div>
                <div class="panel-body">

                    <section id="socialLoginForm">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <p>
            @Html.ActionLink("Register as a new user", "Register", null, new { @class = "btn btn-success" })
    
            @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}