@model SecretSafe.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

          <div class="templatemmo_subheader">CREATE ACCOUNT AND CHAT SECURLY</div>
                <div class="clear"></div>

                @using (Ajax.BeginForm("Register", "Account", FormMethod.Post,
                    new AjaxOptions { UpdateTargetId = "loginRegisterAjax", InsertionMode = InsertionMode.Replace},
                    new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group row">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NickName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.NickName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="templatemo_homebuton" value="REGISTER" />
                        </div>
                    </div>
                }

    <div class="row">
                    <p>
                        @Ajax.ActionLink("LOG IN", "Login", "Account", null,
               new AjaxOptions { UpdateTargetId = "loginRegisterAjax", InsertionMode = InsertionMode.Replace },
               new { @class = "templatemo_homebuton", style = "margin-left: 50px;" })
                             @Ajax.ActionLink("FORGOT YOUR PASSWORD?", "ForgotPassword", null,
               new AjaxOptions { UpdateTargetId = "loginRegisterAjax", InsertionMode = InsertionMode.Replace },
       new { @class = "templatemo_homebuton" })
                    </p>
                </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
